*{
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 14px;
	line-height: 1.5em;
}

td {
	padding: 1px !important;
}

body {
	background:#f2f2f2;
	width: 100%;
	height: auto;
}

header{
	background:#0072AE;
	width: 100%;
	height: 80px;
	/*max-width: 1000px;*/
	/*position: fixed;*/
	overflow: hidden;
}

header div img {
	height: auto;
}

article img{
width: 200px;
border: solid;
border-radius: 5px;

}

.tabla{
	border: #0072AE 5px solid;
	border-radius: 5px;
}

header div{
	width: 40%;
	float:left;
}

header .HeaderTitulo{
	width: 35%;
	margin-top: 20px;
	font-size: 25px;
	color:white;
	float:left;	
}

header .HeaderDerecha{
	width: 25%;
	margin-top: 30px;
	font-size: 15px;
	text-align: center; 
	color:white;
	float:left;	

}

.main{
	background: white;
	/*top:80px;*/
	overflow: hidden;
	width: 100%;
	margin:0px 0px;
	padding: 0px 0px;
	display: block;
	height: 500px;
	/*position: relative;*/
	
}

.main .panelIzq{
	background: white;
	margin:0px 10px;
	padding: 10px 0px;
	display: block;
	width: 50%;
	height: 460px;
	float: left;
}

.main .panelDer{
	background: white;
	
	margin:0px 10px;
	padding: 10px 0px;
	display: block;
	width: 45%;
	height: 455px;
	float: left;
	/*height: auto;*/
}

.boton{
	border: none;
 	background: #3a7999;
 	color: #f2f2f2;
 	padding: 5px;
 	margin: 5px;
 	font-size: 14px;
 	border-radius: 5px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 500ms ease;

}

.boton:hover {
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}

.centroInicio {
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -75px;
 margin-left: -180px;
}

.centro {
 position: absolute;
 top: 50%;
 left: 50%;
 margin-top: -75px;
 margin-left: -300px;
}

footer{
	background:#AEB1B3;
	color: white;
	width: 100%;
	overflow: hidden;
	height: 55px;
	text-align: center;
	vertical-align: center;
	/*position: absolute;*/
	bottom: 0; 
	/*max-width: 1000px;*/
}

footer p{
	padding: 15px;
}

header a {
	font-size: 15px;
	color: orange;
}

.login_box{
	margin-top: 10%;
}

.row {
	width: 100% !important;
	padding: 0.5%;
}

.filas_portabilidad {
	max-width: 99%;
	width: 99%;
	overflow: hidden;
}

.b1 {
	margin-top: 20%;
}