
#cab_prim{
	background-color: orange;
        font-weight: bold;
}
#cab_prim_full{
	background-color: orange;
        font-weight: bold;
}
#cab_sec{
	background-color: #E8E8E8;
        font-weight: bold;
}
#cab_terc{
	background-color: #366097;
        color: white;
        font-weight: bold;
}
#cab_terc_det{
	background-color: orange;
        color: white;
        font-weight: bold;
}
#data{
	display: inline-block; 
}
#img_logo{
        height: 82px; 
        width: 130px;
}
table,td,tr{
    border: 1px;
    padding: 2px;
    color: #366097;
    
}
table{
        border-spacing: 0;
        width: 100%;
}
.page_break { page-break-before: always; }