body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}
 
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
img {
	max-width: 50%;
	height: auto;
}

/*CABECERA */
#main-header {
	background: #0072AE;
	color: white;
	text-align: center; 
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
	#main-header a {
		margin-top: 15px;
		margin-left: 300px;
		float: center;
		color: white;
	}
	#main-header b {
		margin-top: 0px;
		float: left;
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	font-size: 25px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0072AE;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		/*font-weight: 300;*/
		font-size: 0.8em;
		color: #AEB1B3;
	}
	
 
/*
 * Navegación
 */
nav {
	margin-top: 30px;
	float: right;
}
	nav ul {
		
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
		vertical-align: center;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}

/*CONTENIDO*/
#main-content {
	float: left;
	background: white;
	max-width: 1300px;
	margin: 10px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#main-content #principal{
	float: left;
	background: white;
	width: 60%;
	
	margin: 10px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#main-content #secundario{
	float: right;
	background: white;
	width: 40%;
	
	margin: 10px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}

/* PIE */

#main-footer {
	background: #AEB1B3;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}